<div class="imageDetails">
	<!-- title and back button -->
	<div class="firstRow">
		<h1 class=""><a ng-href="{{postItem.link}}" target="_blank">{{postItem.title}}</a></h1>
		<!-- back button -->
		<div class="backButtonWrapper">
			<a ng-href="#/list" class="backButton">
				Back
			</a>
		</div>
	</div>
	<!-- author link -->
	<div class="author">
		<a href="https://www.flickr.com/photos/{{photoItem.author_id}}" target="_blank">Post author</a>
	</div>
	<!-- published date -->
	<div class="published">
		| Published: {{postItem.published | dateSuffix }}
	</div>
	<!-- main area with image and description -->
	<div class="detailedWraper">
		<div class="description">
			<div class="descriptionContent" ng-bind-html="photoItem.description">
			</div>
			<div class="tags">
				Tags: {{postItem.tags}}
			</div>
		</div>
	</div>
</div>
